:root{
    --cor-fundo: #000000 ;
    --cor-pricipal: #260d21 ;
    --cor-secundaria: #212333 ;
    --cor-destaque: #fd2bba ;
    --cor-texto: #fcd2fc ;

}

body {
    background-color: vara(--cor-fundo);
    color: var(--cor-texto);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.caixa-pricipal{