:root{
    --cor-fundo: #000000 ;
    --cor-pricipal: #260d21 ;
    --cor-secundaria: #212333 ;
    --cor-destaque: #fd2bba ;
    --cor-texto: #fcd2fc ;

}

body {
    background-color: vara(--cor-fundo);
    color: var(--cor-texto);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.caixa-pricipal{
    background-color: var(--cor-fundo);
    width: 90%;
    max-width: 600px;
    text-align: center;
    padding: 20px;
}

h1{
    color: var(--cor-destaque);
}

button {
    background-color: var(--cor-secundaria);
    color: var(--cor-texto);
    border: none;
    border-radius: 15px;
    padding: 15px;
    transition: backgroud-color 0.3s;
}

button:hover{
    background-color: var(--cor-destaque);
    color: var(--cor-pricipal);
}